<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="public/css/create.css" />
    <title>Create Messages</title>
  </head>

  <body>
    <form action="/create" method="post" class="form">
      <% if (locals.message) { %>
      <div class="group">
        <p class="<%= message.class %>"><%= message.text %></p>
      </div>
      <% } %>

      <div class="group">
        <label for="title">
          <p>Message Title</p>
          <input type="text" name="title" id="title" placeholder="Message title" />
        </label>
      </div>

      <div class="group">
        <label for="category">
          <p>Category</p>
          <select name="category" id="category">
            <% if (locals.categories && categories.length > 0) { %> <% categories.forEach(function (category) { %>
            <option value="<%= category.name %>"><%= category.name %></option>
            <% })} %>
          </select>
        </label>
      </div>

      <div class="group">
        <label for="year">
          <p>Year</p>
          <select name="year" id="year">
            <% if (locals.years && years.length > 0) { %> <% years.forEach(function (year) { %>
            <option value="<%= year.name %>"><%= year.name %></option>
            <% })} %>
          </select>
        </label>
      </div>

      <div class="group">
        <label for="minister">
          <p>Minister</p>
          <select name="minister" id="minister">
            <option selected value="Apostle Joshua Selman Nimmak">Apostle Joshua Selman Nimmak</option>
          </select>
        </label>
      </div>

      <div class="group">
        <button>Save</button>
      </div>
    </form>
  </body>

  <script src="public/js/global.js"></script>
</html>
