<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="public/css/index.css" />
    <title>Find Messages</title>
  </head>

  <body>
    <main>
      <div class="search">
        <% if (locals.message) { %>
        <div class="<%= message.class %>">
          <p><%= message.text %></p>
        </div>
        <% } %>

        <p style="line-height: 30px; text-align: justify;">
          For the message title, if you don't know the full message name, you can type in one word, part of a word (from the beginning e.g
          "dee" from "deeper", "epe" would not work), a single beginning letter of any word (e.g "a", "c", "t", "d" or "r" from "a call to
          deeper realms") or multiple words you remember.
        </p>

        <form action="/" method="post">
          <input
            type="text"
            name="title"
            id="title"
            placeholder="Message title"
            value="<% if (locals.title && title) {%> <%=title%> <% } %>"
          />

          <select name="category" id="category">
            <option value="">Select a category</option>
            <% if (locals.categories && categories.length > 0) { %> <% categories.forEach(function (category) { %>
            <option value="<%= category.name %>"><%= category.name %></option>
            <% })} %>
          </select>

          <select name="year" id="year">
            <option value="">Select a year</option>
            <% if (locals.years && years.length > 0) { %> <% years.forEach(function (year) { %>
            <option value="<%= year.name %>"><%= year.name %></option>
            <% })} %>
          </select>

          <select name="minister" id="minister">
            <option selected value="Apostle Joshua Selman Nimmak">Apostle Joshua Selman Nimmak</option>
            <option value="Pastor Meshach Alfa">Pastor Meshach Alfa</option>
            <option value="Pst Dotun Reju">Pst Dotun Reju</option>
            <option value="Pst Jacob Adeyinka">Pst Jacob Adeyinka</option>
            <option value="Apostle Joshua Selman Nimmak and Pst Olufukeji Ejimi Adegbeye">
              Apostle Joshua Selman Nimmak and Pst Olufukeji Ejimi Adegbeye
            </option>
          </select>

          <button>Search</button>
        </form>
      </div>

      <div class="table">
        <table>
          <tr>
            <th>Message</th>
            <th>Category</th>
            <th>Year</th>
            <th>Minister</th>
          </tr>

          <% if (locals.messages && messages.length === 0) { %>
          <p class="failed">Can't find any messages that match your search</p>
          <% } else if (locals.messages && messages.length > 0) { %> <% messages.forEach(function (message) { %>
          <tr>
            <td><%= message.title %></td>
            <td>
              <%= message.category %>
              <a
                href="https://<%= message.categoryLink %>"
                target="_blank"
                rel="noopener noreferrer"
                title="Download on koinonia site via category page"
              >
                <img src="public/images/download.jpg" alt="koinonia download link" />
              </a>
            </td>
            <td>
              <%= message.year %>
              <a
                href="https://<%= message.yearLink %>"
                target="_blank"
                rel="noopener noreferrer"
                title="Download on koinonia site via year page"
              >
                <img src="public/images/download.jpg" alt="koinonia download link" />
              </a>
            </td>
            <td><%= message.minister %></td>
          </tr>
          <% })} else { %>
          <p class="failed">There seems to be an error. Please try again.</p>
          <% } %>
        </table>
      </div>

      <div class="nav">
        <div class="nav-container">
          <a
            href="?page=<%= locals.paginationOptions && paginationOptions.prevPage %>"
            class="prev <% if (locals.paginationOptions && !paginationOptions.hasPrevPage) { %> disabled <% } %>"
          >
            &#8592; Prev
          </a>
          <a
            href="?page=<%= locals.paginationOptions && paginationOptions.nextPage %>"
            class="next <% if (locals.paginationOptions && !paginationOptions.hasNextPage) { %> disabled <% } %>"
          >
            Next &#8594;
          </a>
        </div>
        <div>
          <p style="text-align: center;">
            <% if (locals.paginationOptions) {%> Page <%= paginationOptions.page %> of <%= paginationOptions.totalPages %> (<%=
            paginationOptions.totalDocs %> items) <% } %>
          </p>
        </div>
      </div>
    </main>
  </body>

  <script src="public/js/global.js"></script>
</html>
