<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="public/css/index.css" />
    <title>Find Messages</title>
  </head>

  <body>
    <main>
      <div class="search">
        <% if (locals.message) { %>
        <div class="<%= message.class %>">
          <p><%= message.text %></p>
        </div>
        <% } %>

        <p style="line-height: 30px; text-align: justify;">
          For the message title, if you don't know the full message name, you can still search with whatever part you know.
          For example, in the message titled "a call to deeper realms", Possible matching search terms could be;
          <ol>
            <li>one word e.g <code>call</code>, <code>deeper</code></li>
            <li>part of a word e.g <code>al</code>, <code>epe</code>, <code>dee</code>, even <code>lms</code></li>
            <li>any single letter e.g
              from the beginning: <code>a</code>, <code>c</code>, <code>t</code>, <code>d</code>, <code>r</code>;
              middle: <code>e</code>, <code>p</code>;
              or end: <code>o</code>, <code>l</code>, <code>m</code></li>
            <li>any phrase (multiple [parts of] words) e.g <code>to deeper</code>, <code>per rea</code>, or even <code>l to dee</code></li>
          </ol>
          Case sensitivity is ignored in all search formats.
        </p>

        <form action="/" method="post">
          <input
            type="text"
            name="title"
            id="title"
            placeholder="Message title"
            value="<% if (locals.title && title) {%> <%=title%> <% } %>"
          />

          <select name="category" id="category">
            <option value="">Select Category</option>
            <% if (locals.categories && categories.length > 0) { %> <% categories.forEach(function (category) { %>
            <option value="<%= category.name %>"><%= category.name %></option>
            <% })} %>
          </select>

          <select name="year" id="year">
            <option value="">Select Year</option>
            <% if (locals.years && years.length > 0) { %> <% years.forEach(function (year) { %>
            <option value="<%= year.name %>"><%= year.name %></option>
            <% })} %>
          </select>

          <select name="minister" id="minister">
            <option value="">Select Minister</option>
            <% if (locals.ministers && ministers.length > 0) { %> <% ministers.forEach(function (minister) { %>
            <option value="<%= minister %>"><%= minister %></option>
            <% })} %>
          </select>

          <button>Search</button>
        </form>
      </div>

      <div class="table">
        <table>
          <tr>
            <th>Message</th>
            <th>Category</th>
            <th>Year</th>
            <th>Minister</th>
          </tr>

          <% if (locals.messages && messages.length === 0) { %>
          <p class="failed">Can't find any messages that match your search</p>
          <% } else if (locals.messages && messages.length > 0) { %> <% messages.forEach(function (message) { %>
          <tr>
            <td><%= message.title %></td>
            <td>
              <%= message.category %>
              <a
                href="https://<%= message.categoryLink %>"
                target="_blank"
                rel="noopener noreferrer"
                title="Download on koinonia site via category page"
              >
                <img src="public/images/download.jpg" alt="koinonia download link" />
              </a>
            </td>
            <td>
              <%= message.year %>
              <a
                href="https://<%= message.yearLink %>"
                target="_blank"
                rel="noopener noreferrer"
                title="Download on koinonia site via year page"
              >
                <img src="public/images/download.jpg" alt="koinonia download link" />
              </a>
            </td>
            <td><%= message.minister %></td>
          </tr>
          <% })} else { %>
          <p class="failed">There seems to be an error. Please try again.</p>
          <% } %>
        </table>
      </div>

      <div class="nav">
        <div class="nav-container">
          <a
            href="?page=<%= locals.paginationOptions && paginationOptions.prevPage %>&<%= locals.searchParams && searchParams %>"
            class="prev <% if (locals.paginationOptions && !paginationOptions.hasPrevPage) { %> disabled <% } %>"
          >
            &#8592; Prev
          </a>
          <a
            href="?page=<%= locals.paginationOptions && paginationOptions.nextPage %>&<%= locals.searchParams && searchParams %>"
            class="next <% if (locals.paginationOptions && !paginationOptions.hasNextPage) { %> disabled <% } %>"
          >
            Next &#8594;
          </a>
        </div>
        <div>
          <p style="text-align: center;">
            <% if (locals.paginationOptions) {%> Page <%= paginationOptions.page %> of <%= paginationOptions.totalPages %> (<%=
            paginationOptions.totalDocs %> items) <% } %>
          </p>
        </div>
      </div>
    </main>
  </body>

  <script src="public/js/global.js"></script>
</html>
